@import 'tailwindcss';

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
	font-weight: 200 1000;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Pretendard';
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed
}

/* 전역 스크롤바 스타일 - 6px */
* {
	scrollbar-width: auto; /* Firefox는 px 사이즈 직접 설정 불가하기 때문에 auto 사용 */
	scrollbar-color: #d9d9d9 transparent; /* Firefox: thumb 색상 / track 배경색(투명) */
}

/* Chrome, Safari, Edge 스크롤바 커스터마이징 */
*::-webkit-scrollbar {
	width: 6px; /* 세로 스크롤바 너비 */
	height: 6px; /* 가로 스크롤바 높이 */
}

*::-webkit-scrollbar-track {
	background: transparent; /* 스크롤바 트랙(배경) 투명 */
}

*::-webkit-scrollbar-thumb {
	background-color: #d9d9d9; /* 스크롤바 thumb(움직이는 부분) 색상 */
	border-radius: 3px; /* thumb 모서리 둥글게 */
}

*::-webkit-scrollbar-button {
	display: none; /* 스크롤바 위아래 화살표 버튼 제거 */
}

/* 알림 스크롤바 스타일 - 3px */
.notification-scroll::-webkit-scrollbar {
	width: 3px;
}

.notification-scroll::-webkit-scrollbar-thumb {
	background-color: #cccccc;
	border-radius: 1px;
}

.notification-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.notification-scroll::-webkit-scrollbar-button {
	display: none;
}

.notification-scroll {
	scrollbar-width: thin;
	scrollbar-color: #cccccc transparent;
}

@theme {
	--color-gray-1: #f3f3f3;
	--color-gray-2: #e6e6e6;
	--color-gray-3: #cbcbcb;
	--color-gray-4: #c3c3c3;
	--color-gray-5: #9e9e9e;
	--color-gray-6: #777777;
	--color-gray-7: #585858;
	--color-gray-8: #424242;
	--color-gray-9: #353535;
	--color-gray-10: #1f1f1f;
	

	--color-blue-50: #eceef7;
	--color-blue-100: #e3e5f3;
	--color-blue-200: #c5c9e7;
	--color-blue-300: #4452b1;
	--color-blue-400: #3d4a9f;
	--color-blue-500: #36428e;
	--color-blue-600: #333e85;
	--color-blue-700: #29316a;
	--color-blue-800: #1f2550;
	--color-blue-900: #181d3e;
	
	--shadow-sm: 0 8px 24px 0 rgba(39, 39, 39, 0.15);
	--shadow-md: 0 16px 40px 0 rgba(39, 39, 39, 0.2);
	--shadow-brand: 0 16px 40px 0 rgba(72, 11, 153, 0.2);

	--radius-12: 12px;
	
	--spacing-gutter: 24px;
	--max-width-main: 1440px;
}

@layer utilities {
	.title-1 {
		font-size: 40px;
		line-height: 1.0;
	}
	.title-2 {
		font-size: 28px;
		line-height: 1.0;
	}
	.title-3 {
		font-size: 22px;
		line-height: 1.0;
	}
	.subTitle-1 {
		font-size: 22px;
		line-height: 1.0;
	}
	.subTitle-2 {
		font-size: 20px;
		line-height: 1.0;
	}
	.subTitle-3 {
		font-size: 18px;
		line-height: 1.0;
	}
	.subTitle-4 {
		font-size: 16px;
		line-height: 1.0;
	}
	.body-1 {
		font-size: 16px;
		line-height: 1.5;
	}
	.body-2 {
		font-size: 15px;
		line-height: 1.5;
	}
	.button-1 {
		font-size: 14px;
		line-height: 1.0;
	}
	.button-2 {
		font-size: 14px;
		line-height: 1.0;
	}
	.button-3 {
		font-size: 14px;
		line-height: 1.0;
	}
	.caption-1 {
		font-size: 12px;
		line-height: 1.0;
	}
	.caption-2 {
		font-size: 11px;
		line-height: 1.0;
	}
	.caption-3 {
		font-size: 11px;
		line-height: 1.0;
	}
	

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}
